@use '../helpers/' as *;

.facility {
    display: flex;
    flex-direction: column;
    row-gap: rem(24);
    width: 100%;
    padding: rem(24) rem(20);
    border-radius: 16px;

    box-shadow: 0 18px 40px -28px rgba(62, 44, 30, 0.25), 0 1px 1px 0 rgba(62, 44, 30, 0.04), 0 1px 0 0 rgba(0, 0, 0, 0.02);
    background: var(--neutral-50);

    &__header {
        @include flex-spread-x;
        align-items: center;
    }

    &__icon {
        padding: rem(8);
        display: inline-flex;
        border-radius: 8px;
        color: #fff;
        background-color: var(--terracotta-600);

        &--blue {
            background-color: var(--blue-500);
        }

        &--pink {
            background-color: var(--rose-500);
        }
    }

    &__label {
        display: flex;
        align-items: center;
        column-gap: rem(10);
    }

    &__body {
        display: flex;
        flex-direction: column;
        row-gap: rem(8);
    }

    &__description {
        padding-top: rem(16);
    }

    &__subtitle {
        @include text-preset-6;

        color: var(--terracotta-600);
    }

    &__value {
        @include text-preset-3;

        color: var(--terracotta-600);
    }

    &__title {
        @include text-preset-3;

        color: var(--neutral-900);
    }

    &__date {
        @include text-preset-7;

        color: var(--neutral-600);
    }

    &__description {
        @include text-preset-5;

        color: var(--neutral-700);
    }

    &-card {
        @include flex-spread-x;

        display: flex;
        border-radius: rem(8);
        padding: rem(8) rem(10);
        background: var(--neutral-200);
        align-items: center;


        &__label {
            @include text-preset-8;

            color: var(--neutral-600);
        }

        &__value {
            @include text-preset-7;

            color: var(--neutral-900);
        }

        &__copy {
            @include text-preset-10;
            
            padding: rem(4) rem(8);
            color: var(--neutral-600);
            border: 1px solid var(--neutral-400);
            border-radius: 999px;

            cursor: pointer;
        }
    }
}