@use '../helpers/' as *;

.hotel {

    @include tablet-above {
        display: grid;
        grid-template-columns: 18% auto;
    }

    height: 100vh;

    &__body {
        padding-top: rem(32);
        padding-inline: rem(40);
        display: flex;
        flex-direction: column;
        row-gap: rem(40);

        @include tablet {
            padding-inline: rem(24);
        }

        &-actions {
            display: flex;
            column-gap: rem(6);


            @include mobile-s {
                & {
                    width: 100%;
                }

                .button {
                    flex-grow: 1;
                }
            }
        }

    }

    &__header {
        display: flex;
        @include flex-spread-x;
        align-items: center;
        gap: rem(20);
        flex-wrap: wrap;
    }

    &__subtitle {
        @include text-preset-8;

        color: var(--neutral-600);
    }

    &__title {
        @include text-preset-1;

        color: var(--neutral-900);
        white-space: nowrap;

        &--accent {
            @include text-preset-1-italic;

            color: var(--terracotta-600);
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        row-gap: rem(12);
        align-items: center;

        &-main {
            display: flex;
            justify-content: center;
            position: relative;

            @include mobile {
                flex-direction: column-reverse;
                align-items: center;
            }

            .welcome {
                transition: 0.5s ease;
            }

            .receipt {
                transition: 0.5s ease;
            }

            @include mobile-above {
                &:hover {
                    --moveBy: #{rem(60)};

                    @include laptop {
                        --moveBy: #{rem(50)};
                    }

                    @include tablet {
                        --moveBy: #{rem(25)};
                    }

                    cursor: pointer;

                    .welcome {
                        transform: translateX(var(--moveBy));
                        rotate: -4deg;
                    }

                    .receipt {
                        transform: translateX(calc(-1 * var(--moveBy)));
                        rotate: 4deg;
                    }

                    .hotel__logo {
                        opacity: 1;
                    }
                }
            }
        }

        &-extra {
            @include text-preset-10;

            color: var(--neutral-600);

        }
    }


    &__facilities {
    display: grid;
        grid-template-columns: repeat(auto-fit, minmax(rem(300), 1fr));
        gap: rem(24);
    }

    &__logo {
        transition-duration: .4s;
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        z-index: 10;

        opacity: 0;
    }
}