@use '../helpers/' as *;

.weather {
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 24px -16px rgba(194, 90, 46, 0.4), 0 1px 0 0 rgba(0, 0, 0, 0.04);
    background: var(--sun-300);
    // width: 228px; //CHANGE
    border-radius: 16px;
    padding: rem(12) rem(16);
    row-gap: rem(6);

    background-image: url('../../assets/images/icon-weather.svg');
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: -150%;

    &__subtitle {
        @include text-preset-10;

        color: var(--neutral-700);
    }

    &__title {
        @include text-preset-2;

        color: var(--neutral-900);
    }

    &__description {
        @include text-preset-7;

        color: var(--neutral-700);
    }
}