@use './helpers/' as *;

body {
    display: flex;
    flex-direction: column;
    background-color: var(--neutral-100);
}

main {
    flex-grow: 1;
}

a,
button,
label,
input,
textarea,
select,
svg * {
    transition-duration: var(--transition-duration);
}

a {
    text-decoration: none;
    color: currentColor;
}

*:focus-visible {

  outline: 3px solid var(--rose-500);
  outline-offset: 2px;
}
